<nav class="navbar navbar-default navbar-fixed-top" ng-controller="UserController">
    <div class="container">
        <ul class="nav navbar-nav">

            <li><a href="#/user/home">News Feed</a></li>

            <li class="dropdown">
                <a href="" data-target="#" data-toggle="dropdown" class="dropdown-toggle">Friend requests
                    <span class="badge">{{friendRequestsCount}}</span>
                    <ul class="dropdown-menu" ng-repeat="friendRequest in friendRequests">
                        <a href="#/users/{{friendRequest.user.username}}">
                            <img ng-src="{{friendRequest.user.profileImageData}}" class="sn-avatar"/>
                            <span>{{friendRequest.user.name}}</span>
                        </a>

                        <div>
                            <a href="" class="dropdownList pull-right sn-margin-right-10"
                               ng-click="rejectFriendRequest(friendRequest.id, friendRequest.user.name)">Reject</a>
                            <a href="" class="dropdownList pull-right sn-margin-right-10"
                               ng-click="approveFriendRequest(friendRequest.id, friendRequest.user.name)">Accept</a>
                        </div>
                    </ul>
                </a>
            </li>

            <li><a href="#/user/edit-profile">Edit Profile</a></li>

            <li><a href="#/user/change-password">Change password</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="pull-right">
                <a href="#/logout" ng-controller="AuthController" ng-click="logout()">Logout</a>
            </li>

            <form class="nav navbar-form pull-right" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" autocomplete placeholder="Search users">
                </div>
            </form>
        </ul>

    </div>
</nav>


