<div ng-include="'partials/user-header.html'"></div>

<div class="row">
    <form class="register form-horizontal col-lg-12" name="editUserProfileForm" ng-controller="UserController">
        <fieldset>
            <legend><h2>Edit Profile</h2></legend>

            <div class="col-lg-5 form-info">
                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Name:</label>

                    <div class="col-lg-4">
                        <input type="text" ng-model="userData.name" class="form-control" id="name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email:</label>

                    <div class="col-lg-4">
                        <input type="email" class="form-control" ng-model="userData.email" id="inputEmail"
                               placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Gender</label>

                    <div class="col-lg-4">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="userData.gender" name="gender" value="1">Male
                            </label>
                            <label>
                                <input type="radio" ng-model="userData.gender" name="gender" value="2">Female
                            </label>
                            <label>
                                <input type="radio" ng-model="userData.gender" name="gender" value="0">Other
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 picture-upload">
                    <div class="form-group">
                        <img class="thumbnail picture-preview" src="{{userData.coverImageData}}" id="background-image-thumbnail"
                             resizer="400,150"/>
                    </div>
                    <div class="form-group">
                        <label class="btn btn-primary" for="coverImage">Change background image
                            <input type="file"
                                   id="coverImage"
                                   name="coverImage"
                                   type="file"
                                   ng-model="userData.coverImageData"
                                   base-sixty-four-input
                                   picture-checker="background-image-thumbnail">
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 picture-upload">
                <div class="form-group">
                    <img class="thumbnail picture-preview" src="{{userData.profileImageData}}" id="profile-image-thumbnail"
                          resizer="200,200"/>
                </div>
                <div class="row">
                    <label class="btn btn-primary" for="profile-image">
                        Change profile image
                    </label>
                    <input class="file-button"
                           id="profile-image"
                           type="file"
                           ng-model="userData.profileImageData"
                           base-sixty-four-input
                           picture-checker="profile-image-thumbnail"
                            />
                </div>
            </div>


            <div class="form-group col-lg-12">
                <div class="col-lg-10 col-lg-offset-3">
                    <a href="#/user/home" class="btn btn-default">Cancel</a>
                    <button ng-click="editProfile(userData)" type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
