<div class="well">
    <form name="addPostForm">
        <div class="form-group">
            <textarea class="form-control" ng-model="postContent" placeholder="Say something to your friends"
                      rows="3" required></textarea>
        </div>
        <button class="btn btn-md btn-primary" ng-disabled="addPostForm.$invalid" ng-controller="PostController"
                ng-click="addNewPost(postContent)">Say it now
        </button>
    </form>
</div>

<div ng-include="'partials/view-friends/user-6-friends.html'"></div>