<div class="media">

    <!-- begin displaying post content -->
    <div class="media-left">
        <a href="#/users/{{post.author.username}}">
            <img class="media-object sn-avatar"
                 ng-src="{{post.author.profileImageData}}"
                 alt="author image">
        </a>
    </div>

    <div class="media-body media-left">
        <h5 class="media-heading">
            <a href="#/users/{{post.author.username}}">{{post.author.name}}</a>
        </h5>
        <span>{{post.date | date:'dd.MM.yyyy hh:mm'}}</span>

        <p> {{post.postContent}}</p>
    </div>
    <!-- end of displaying post content -->
    <!-- begin displaying comments count and likes -->
        <footer class="panel-footer">
            <p class="pull-right">likes: {{post.likesCount}}</p>
            <p class="pull-right sn-padding-right-5">comments: {{post.totalCommentsCount}}</p>
        </footer>
    <!-- end of displaying comments count and likes -->

    <!-- begin displaying post's comments -->
    <div class="col-lg-offset-1 sn-padding-bottom-5" ng-repeat="comment in post.comments">
        <div class="media-left">
            <a href="#/users/{{comment.author.username}}">
                <img class="media-object sn-avatar"
                     ng-src="{{comment.author.profileImageData}}"
                     alt="author image">
            </a>
        </div>

        <div class="media-body media-left">
            <a href="#/users/{{comment.author.username}}" class="media-heading">{{comment.author.name}}</a>
            <span>{{comment.date | date:'dd.MM.yyyy hh:mm'}}</span>

            <div> {{comment.commentContent}}</div>
        </div>
    </div>
    <!-- end of comments display -->

    <div class="sn-panel-footer-no-border">
        <form name="addCommentForm">
            <div class="form-group">
            <textarea class="form-control" ng-model="addComment" placeholder="Enter your comment"
                      rows="3" required></textarea>
            </div>
            <button class="btn btn-md btn-primary" ng-disabled="addCommentForm.$invalid">Comment</button>
        </form>
        
    </div>
</div>