

<div class="container" ng-controller="WallController">

    <div class="col-lg-1"></div>

    <div class="col-lg-8">

        <div ng-include="'partials/user-header.html'"></div>

        <main class="padding-top">
            <div class="well" ng-repeat="post in wallData">
                <div ng-include="'partials/post-content.html'"></div>
            </div>

            <div ng-include="'partials/loading-posts-indicator.html'"></div>
        </main>
    </div>

    <div class="col-lg-3 sn-padding-top-190" ng-if="userHeader.isFriend">
        <div class="well">
            <form name="addPostForm">
                <div class="form-group">
            <textarea class="form-control" ng-model="postContent" placeholder="Say something to {{userHeader.name}}"
                      rows="3" required></textarea>
                </div>
                <button class="btn btn-md btn-primary" ng-disabled="addPostForm.$invalid" ng-controller="PostController"
                        ng-click="addNewPost(postContent, userHeader.username)">Say it now
                </button>
            </form>
        </div>
    </div>


</div>


