<div class="container">

    <section class="col-lg-3">
        <input type="text" class="form-control " id="searchUser" ng-model="userQuery.name"
               placeholder="Type to filter your friends">
    </section>
    <div></div>
    <section>
        <div ng-controller="FriendsController" class="container">

            <div class="sn-well col-lg-1" ng-repeat="friend in friendsList | filter:userQuery">
                <div class="media-body center-block">
                    <a href="#/users/{{friend.username}}">
                        <img ng-src="{{friend.profileImageData}}" class="sn-avatar media-object center-block"/>
                    </a>
                </div>

                <div class="text-center">
                    <h5 class="media-heading">
                        <a href="#/users/{{friend.username}}">{{friend.name}}</a>
                    </h5>
                </div>
            </div>
        </div>
    </section>
</div>