<div class="container" ng-controller="WallController">

    <div class="col-lg-1"></div>

    <div class="col-lg-8">

        <div ng-include="'partials/user-header.html'"></div>

        <main class="padding-top">
            <div class="well" ng-repeat="post in wallData">
                <div ng-include="'partials/post-content.html'"></div>
            </div>

            <div ng-include="'partials/loading-posts-indicator.html'"></div>
        </main>
    </div>

    <div class="sn-padding-top-190 col-lg-3">

        <div ng-if="currentUser.isFriend">
            <div class="well">
                <form name="addPostForm">
                    <div class="form-group">
            <textarea class="form-control" ng-model="postContent" placeholder="Say something to {{currentUser.name}}"
                      rows="2" required></textarea>
                    </div>
                    <button class="btn btn-md btn-primary" ng-disabled="addPostForm.$invalid"
                            ng-controller="PostController"
                            ng-click="addNewPost(postContent, currentUser.username)">Say it now
                    </button>
                </form>
            </div>
        </div>

        <div ng-if="currentUser.isFriend" ng-include="'partials/view-friends/logged-user-6-friends.html'"></div>
    </div>

</div>


