body {
    padding-top: 90px;
}

#profile-picture, #cover-picture {
    display: none;
}

#welcome-header {
    margin-top: -60px;
    margin-bottom: 60px;
}

.dropdownList {
    text-decoration: none;
    padding-left: 3px;
}

.wordwrap {
    white-space: pre-line; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}

.border {
    border: 1px solid black;
}

.header-container {
    height: auto;
    width: auto;
    position: relative;
}

.background-picture {
    position: absolute;
    width: 750px;
    height: 150px;
    left: 0;
    top: 0;
}

.profile-picture {
    z-index: 100;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 30px;
    top: 90px;
    display: inline-block;
    padding: 3px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.user-name {
    z-index: 100;
    position: absolute;
    color: white;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 24px;
    font-weight: bold;
    left: 130px;
    top: 120px;
    width: 300px;
}

.is-friend, .is-friend:visited {
    z-index: 100;
    position: absolute;
    color: white;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    line-height: 24px;
    font-size: 16px;
    left: 550px;
    top: 120px;
    width: 150px;
}

.is-friend:hover {
    text-decoration: none;
    color: aqua;
}

.padding-top {
    padding-top: 190px;
}

.sn-padding-right-5 {
    padding-right: 5px;
}

.sn-padding-bottom-5 {
    padding-bottom: 5px;
}

.sn-panel-footer-no-border {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.sn-avatar {
    width: 64px;
    height: 64px;
    padding: 3px;
    margin: 3px 0 3px 3px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.sn-well {
    box-sizing: content-box;
    float: none;
    vertical-align:top;
    width : 8.33333333%;
    display: inline-block;
    min-height: 20px;
    padding: 10px;
    margin: 0 5px 0 5px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.sn-padding-top-190 {
    padding-top: 190px;
}

.sn-margin-right-10 {
    margin: 0 10px 0 0;
}