body {
    padding-top: 90px;
}

#profile-picture, #cover-picture {
    display: none;
}

#welcome-header {
    margin-top: -60px;
    margin-bottom: 60px;
}

.dropdownList {
    text-decoration: none;
    padding-left: 3px;
}

.wordwrap {
    white-space: pre-line;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

.border {
    border: 1px solid black;
}